@page "/"

<h1>This is a ASP.NET Core Blazor demo web application to show the several usages of the NeoModules package.</h1>

<p> You can download the different packages here: </p>
<p><a href="https://www.nuget.org/packages/NeoModules.NEP6/">NEP6 compatible wallet - It contains all the packages bellow as dependencies.</a></p>
<p><a href="https://www.nuget.org/packages/NeoModules.RPC/">RPC - Rpc client for neo-cli nodes</a></p>
<p><a href="https://www.nuget.org/packages/NeoModules.JsonRpc.Client/">Json Rpc Client</a></p>
<p><a href="https://www.nuget.org/packages/NeoModules.Rest/">Rest - Set of different REST services</a></p>
<p><a href="https://www.nuget.org/packages/NeoModules.Core/">Core - Neo own types and lower level stuff</a></p>
