
@{
    ViewData["Title"] = "RPC client";
}

<h2>Index</h2>

<h3>Accounts Service</h3>

<div>
    <h5> Validate address</h5>
    <input id="validateAddressInput" placeholder="Enter address" />
    <button id="validateAddressButton">Send request</button>
    <span style="font-weight: bold" id="validateAddressResult">Is valid: </span>
</div>


<h3>Assets Service</h3>
<h3>Blocks Service</h3>

<div>
    <h5> Get best block hash</h5>
    <button id="getBestBlockHash">Send request</button>
    <span style="font-weight: bold" id="getBestBlockHashResult"></span>
</div>




<h3>Contracts Service</h3>
<h3>NEP5 Service</h3>
<h3>Node Service</h3>
<h3>Transactions Service</h3>

